
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}

body{
    background-color: #141414;
}
.container__nav{
padding-left:30px;
padding-right:30px;
}
.container{
    padding-top: 30px;

}

/* SEARCH BAR */

.search__bar:hover input{
    width: 320px;
}

.profile{
    display: flex;
}
.search__bar input{
    opacity: 0;

}
input{
    cursor: pointer;
    margin-left: 20px;
    background-color: rgba(27, 22, 22, 0.719);
    color: white;
    width: 100%;
    height: 100%;
    border: 0.5px solid white;
    padding:10px;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;
    opacity: 1;
}



#search:hover .search-bar{
    opacity:1;
    transition:0.8s ease;
}
#glass{
    cursor: pointer;
}


/* MOVIE LIST */




/* NAVIGATION */
ul{
    list-style-type: none;
    display: flex;
}

.nav__logo{
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
}
.logo__sizing{
    cursor: pointer;
    width: 100%; 
    max-width: 120px;
}
.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 85px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 1;
    transition-timing-function:ease-in ;
    transition: all 0.5s;
}
.nav__bar{
    display: flex;
    align-items: center;
}
.nav__black{
    color: #141414;
}

.nav__link{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.scrolling{

    width: 100%;
    transition: all 1s;
    background-color: #141414;
    color: white;

}
/* BANNER */
.banner__content{
    color: white;
    position: absolute;
    top: 15%;
    padding-left: 100px;
    width: 100%;
}

.logo__img{
    margin-bottom: -50px;
    width: 100%;
    max-width: 850px;
}
.stranger{
    width: 100%;
    height: 800px;
}

.banner__title{
    font-size: 100px;
    padding-bottom:20px;
    
}
.banner__buttons{
    padding-bottom:20px;
    padding-top: 30px;
    padding-left: 30px;
}
.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight:700 ;
    border-radius: 0.2vw;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner__description{
    font-size: 20px;
    width: 100%;
    max-width: 500px;
    background-color: rgba(20, 20, 20, );
    padding-left: 30px;
}

/* Movies */

#poster-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .movie__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
  }
  
  .poster {
    margin: 10px;
  }
  
  .poster img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  .movie__img{
    width: 100%;
    border-radius: 3%;
    cursor: pointer;
    transition: 650ms;
  }
  

.feature__title{
    color: #fff;
    font-size: 32px;
    padding-left: 300px;
    padding-bottom: 10px;
}
.poster img{

    border-radius: 3%;
    cursor: pointer;
    transition: 650ms ;
}
.poster img:hover{
    transform: scale(1.3);
    z-index: 2;
}
.movies{
    padding-bottom: 20px;
    padding-left:10px ;
}
.movie{
    padding-left: 10px;
}


/* FOOTER */
.space{
    padding-top: 120px;
padding-bottom: 80px;
}

.footer__logo{
    width: 100%;
    height: 800px;
}

.footer__icon{
display: flex;
justify-content: center;
}
.size{
    width: 100%;
    height: 25px;
    padding-right: 50px;
}

/* SEARCH LIST */
.movie__search{
display: flex;
flex-direction: column;
width: 200px;
height: 300px;
object-fit: cover;
margin: 10px;
cursor: pointer;
border-radius: 3%;
transition: 650ms ;
}

.movie__search:hover{
    transform: scale(1.3);
    z-index: 2;
}
.movie__edit{
    transition: 600ms;
}
.movie__search img:hover{
        transform: scale(1.3);
    z-index: 2;
}


.search{
    display: flex;
    flex-direction: row;
    padding-left: 300px;
}
.body{
    text-align: center;
    color: white;
}

/* Movies */
.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
}


/* RESPONSIVENESS */

@media  (max-width: 1440px) {
.feature__title{
    padding-left: 70px;
}
.search{
    padding-left: 70px;
}
  }

  @media  (max-width: 1024px) {
.nav{
    padding-left: 0;
padding-right: 0;
}
  }

  @media  (max-width: 425px) {


  }
  @media  (max-width: 375px) {

  }
  @media  (max-width: 320px) {

  }